@import url("https://fonts.googleapis.com/css2?family=Cuprum:wght@500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

/*-----------------------------------*\
  #Reset
\*-----------------------------------*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	border: 0;
	outline: 0;
}
/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
:root {
	/**
   * container
   */
	--container-width-lg: 80%;
	--container-width-sm: 95%;
	/**
   * border-radiuses
   */

	--radius-1: 2rem;
	--radius-2: 1rem;
	--radius-3: 0.8rem;
	--radius-4: 0.5rem;
	--radius-5: 0.3rem;
	--radius-6: 50%;
	/**
   * transition
   */

	--transition: all 300ms ease;
	/**
   * box-shadow
   */

	--shadow-1: 3px 4px 30px hsla(0, 0%, 53%, 0.1);
	--shadow-2: 5px 3px 40px hsla(191, 100%, 17%, 0.1);
	--shadow-3: 5px 3px 50px hsla(191, 100%, 17%, 0.4);

	/**
   * color
   */

	--mint-cream: hsl(160, 100%, 98%);
	--cultured: hsl(0, 0%, 93%);
	--rich-black-fogra-29-1: hsl(215, 31%, 14%);
	--rich-black-fogra-29-2: hsl(230, 14%, 8%);
	--rich-black-fogra-39: hsl(158, 29%, 5%);
	--light-gray: hsl(0, 0%, 80%);
	--prussian-blue: hsl(202, 72%, 15%);
	--text-color: #555555;
	--dark-blue: #020122;
	--light-brown: #fc9e4f;
	--light-yellow: #edd382;
	--dark-yellow: #e39828;
	--light-pink: #ebd5b8;
	--light-blue: #669fb2;
	--cream: #f2f3ae;
	--deep-orange: #ea572a;
	--light-green: #0b3f30;
	--dark-brown: #78421d;
	/* #EBD5B8, #EFBC9C, #EA572A, #0B3F30, #E39828 */
	/* #669fb2 #dadfe1 #e8b877 #dd802c #3e2a20 */
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: var(--mint-cream);
	color: var(--text-color);
	line-height: 1.7;
	font-weight: 300;
	/* border: 20px solid var(--light-pink); */
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

p,
a {
	font-size: 0.85rem;
	color: var(--text-color);
}

.container {
	width: var(--container-width-lg);
	margin-inline: auto;
}

img {
	display: block;
	width: 100%;
	object-fit: cover;
}

h2 {
	font-family: "Poppins", sans-serif;
	line-height: 1;
	font-size: 2rem;
}

h1 {
	font-family: "Cuprum", sans-serif;
	font-size: 3rem;
	font-weight: 800;
	color: var(--prussian-blue);
}

.btn {
	display: inline-block;
	background-color: var(--light-green);
	color: white;
	padding: 1rem 2.5rem;
	width: fit-content;
	font-weight: 500;
	border-radius: var(--radius-3);
	cursor: pointer;
	transition: var(--transition);
	margin-top: 1rem;
}

.btn:hover {
	background-color: var(--dark-brown);
	color: white;
}

.btn.sm {
	padding: 0.4rem 1rem;
	font-weight: 400;
	background-color: var(--deep-orange);
	color: white;
	border-radius: var(--radius-4);
	transition: var(--transition);
	margin-top: 1rem;
}

.btn.sm:hover {
	background-color: var(--light-green);
	color: white;
}

ion-icon {
	display: block;
	pointer-events: none;
}

section {
	padding: 9rem 0;
}

section > h1,
section > p {
	width: 50%;
	text-align: center;
	margin-inline: auto;
}

section > h1 {
	margin-bottom: 0.5rem;
	margin-top: 1rem;
}

section > p {
}

.grid-list {
	display: grid;
	/* grid-template-columns: 1fr 1fr; */
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 30px;
}

/*-----------------------------------*\
  #Header
\*-----------------------------------*/

/* header{
	border: 20px solid var(--light-pink);
	position:fixed;
	top:0;
	width:100%;
} */

nav {
	background: var(--dark-yellow);
	height: 3.5rem;
	position: fixed;
	top: 0;
	left: 0;
	display: grid;
	place-items: center;
	width: 100vw;
	backdrop-filter: blur(15px);
	/* browser-compatibility:- */
	-webkit-backdrop-filter: blur(15px);
	-moz-backdrop-filter: blur(15px);
	-o-backdrop-filter: blur(15px);
	-ms-backdrop-filter: blur(15px);
	z-index: 10;
}

.nav__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-size: 2rem;
	color: white;
}
.logo span {
	color: var(--light-green);
}

.nav__menu {
	display: flex;
	align-items: center;
	gap: 3rem;
}

.menu__link {
	color: var(--light-green);

	font-weight: 400;
	transition: var(--transition);
}

.menu__link:hover {
	color: white;
}

.nav__toggle-open,
.nav__toggle-close {
	display: none;
}

/*-----------------------------------*\
  #Hero
\*-----------------------------------*/

.hero {
	display: grid;
	place-items: center;
	min-height: 100vh;
}

.hero__container {
	display: flex;
	align-items: center;
	justify-content: canter;
	margin-top: 3rem;
	gap: 4rem;
}

.hero__image img {
	width: 20rem;
	/* width: 100%; */
	overflow: hidden;
	aspect-ratio: 4/4;
	max-height: 20rem;
	margin-inline: auto;
	border-radius: var(--radius-2);
	/* border-radius: 7rem 7rem var(--radius-2) var(--radius-2); */
	box-shadow: var(--shadow-2);
}

.hero__image img {
	height: 100%;
}

.hero__content {
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 1rem;
	width: 30rem;
	margin-inline: auto;
}

.hero__content h1 {
	line-height: 1;
}

.hero__content p {
	margin-top: 1rem;
}

/*-----------------------------------*\
  #About
\*-----------------------------------*/

.about {
	display: grid;
	place-items: center;
	min-height: 100vh;
}

.about__container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4rem;
	margin-top: 3rem;
	position: relative;
}

.about__image img {
	width: 20rem;
	/* width:100%; */
	max-height: 20rem;
	overflow: hidden;
	aspect-ratio: 4/4;
	margin-inline: auto;
	box-shadow: var(--shadow-2);
	border-radius: var(--radius-2);
}

/*-----------------------------------*\
  #Services
\*-----------------------------------*/

.services__container {
	display: grid;
	place-items: center;
}
.services__content p {
	margin-bottom: 1rem;
}

.services-item {
	background: white;
	padding: 1.4rem;
	/* border:15px solid var(--light-gray); */
	box-shadow: var(--shadow-1);
	border-radius: var(--radius-2);
	transition: var(--transition);
	height: 100%;
}

.services-item:hover {
	background: var(--cultured);
}

.services-item h2 {
	margin-bottom: 1rem;
	margin-top: 1rem;
	font-size: 1.8rem;
}

.services__image img {
	/* width: 17rem; */
	width:100%;
	max-height: 17rem;
	overflow: hidden;
	aspect-ratio: 4/4;
	margin-inline: auto;
	object-fit: cover;
	box-shadow: var(--shadow-2);
	border-radius: var(--radius-2);
}

/*-----------------------------------*\
  #Why
\*-----------------------------------*/
.why__container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center;
	gap: 6rem;
}

.why__content {
	display: grid;
	place-items: center;
}

.why__content .section-subtitle {
	font-size: 1.7rem;
	margin-bottom: 0.5rem;
	margin-right: 3.5rem;
}

.why__content h2 {
	margin-bottom: 1rem;
	line-height: 1.2;
}

.why-list {
	margin-block-end: 40px;
}
.why-item {
	display: flex;
	align-items: flex-start;
	gap: 15px;
}

.why-icon {
	min-width: max-content;
	color: var(--deep-orange);
	margin-block-start: 8px;
}
.why-item:not(:last-child) {
	margin-block-end: 10px;
}

.why__image img {
	width: 20rem;
	/* width:100%; */
	max-height: 20rem;
	overflow: hidden;
	aspect-ratio: 4/4;
	margin-inline: auto;
	box-shadow: var(--shadow-2);
	border-radius: var(--radius-2);
}

/*-----------------------------------*\
  #NEWSLETTER
\*-----------------------------------*/

.newsletter {
	background-color: var(--deep-orange);
}

.newsletter__container{
display: grid;
	place-items: center;	
}

.newsletter__content{
	display:flex;
	align-items:center;
	gap:2rem;
}

.newsletter .img-holder {
	background-color: transparent;
	margin-block-end: 20px;
	max-width: max-content;
	
}

.newsletter .img-holder img {
	
max-height:5rem;
	
}

.newsletter .section-title {
	margin-block-end: 20px;
	color:white;
}

.newsletter-form{
	margin-top:1rem;
	display:flex;
	gap: 1rem;
}

.newsletter-form .input{
	background-color: transparent;
	color: #555;
	font-size: 1rem;
	height: 65px;
	padding-inline: 20px;
	margin-block-end: 10px;
	outline: none;
	border:2px solid #ccc;
	transition: var(--transition);
}

::placeholder{
color: #888;
}

.newsletter-form .label{
	position:absolute;
	color:white;
	padding:1rem;
}

.email-field {
	background-color: transparent;
	color: #555;
	font-size: 1rem;
	height: 65px;
	padding-inline: 20px;
	margin-block-end: 10px;
	outline: none;
	border:2px solid #ccc;
	transition: var(--transition);
}



.email-field:focus {
	box-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.4);
}



.newsletter-form .btn {
	margin-bottom:1.5rem;
}

/*-----------------------------------*\
  #gallery
\*-----------------------------------*/

.gallery__container {
	width: 100%;
	min-height: 100vh;
	display: grid;
	place-items: center;
	padding: 50px 8%;
}

.gallery__content h1 {
	margin-bottom: 4rem;
}

.gallery__images {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 30px;
	object-fit: cover;
}

.gallery__images img {
	width: 100%;
	height:100%;
	/* height: auto; */
	max-height:20rem;
	/* max-height: 30rem; */
	object-fit: cover;
	border-radius: var(--radius-2);
	transition: var(--transition);
}

.gallery__images img:hover {
	box-shadow: var(--shadow-2);
	transform: translate(-0.5rem);
}

/*-----------------------------------*\
  #Testimonials
\*-----------------------------------*/
.testimonials__container {
	display: grid;
	place-items: center;
}

.testimonials__card {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
	gap: 3rem;
	margin-top: 3rem;
}

.testimonial-item {
	background: white;
	height: 100%;
	max-height: 80%;
	padding: 3rem 3rem;
	border: 8px solid #ccc;
	transition: var(--transition);
}

.testimonial-item:hover {
	box-shadow: var(--shadow-3);
	transform: translate(-0.5rem);
}

.testimonial__top-section {
	display: flex;
	gap: 1rem;
}

.testimonial__subtitle h2 {
	font-size: 1rem;
}

.testimonial__image img {
	width: 100%;
	height: 100%;
	max-width: 2.5rem;
	max-height: 2.5rem;
	object-fit: cover;
	border-radius: 50%;
}

.rating {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.rating ion-icon {
	color: var(--light-yellow);
}

.testimonial-text {
	margin-bottom: 2rem;
}

/*-----------------------------------*\
  #blog
\*-----------------------------------*/
.blog__container {
	display: grid;
	place-items: center;
}

.blog__content {
	text-align: center;
	margin-bottom: 1.5rem;
}

.blog :is(.section-subtitle, .section-title, .section-text) {
	text-align: center;
}

.blog .section-text {
	margin-block: 20px 50px;
}

.blog-card .card-content {
	position: relative;
}

.card-content .card-title {
	margin-top: 2rem;
}

.blog-card {
	background: white;
	height: 100%;
	box-shadow: var(--shadow-3);
	padding: 1rem 1rem;
	border-radius: 1rem;
}

.blog-card img {
	width: 100%;
	border-radius: 1rem;
	/* height:100%; */
	/* max-height:15rem; */
}

.blog-card .card-meta {
	background-color: var(--prussian-blue);
	color: white;
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 1.5;
	max-width: max-content;
	margin-inline: auto 20px;
	margin-block: -80px 20px;
	padding: 20px 25px;
	box-shadow: var(--shadow-2);
	border-radius: 0.5rem;
}

.blog-card .card-meta .span {
	color: var(--deep-orange);
	font-size: 3rem;
	font-weight: bold;
	line-height: 0.75;
}

.blog-card .card-text {
	margin-block: 15px;
}

.card-content .btn-link {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	transition: var(--transition);
	background: white;
}

.card-content .btn-link > span {
	color: var(--dark-blue);
	transition: var(--transition);
}

.card-content .btn-link > span:hover {
	color: var(--light-blue);
}

.card-content .btn-link ion-icon {
	color: var(--deep-orange);
}

/*-----------------------------------*\
  #contact us
\*-----------------------------------*/

.contact__container {
	display: grid;
	place-items: center;
}

.contact__content {
	text-align: center;
	margin-bottom: 1.5rem;
}

.contact__content p {
	margin-bottom: 0.5rem;
}

.contact-list {
	margin-top: 2rem;
}

.contact-item {
	display: flex;
	align-items: center;
	gap: 1rem;
	transition: var(--transition);
}

.contact-icon {
	font-size: 1.1rem;
	color: var(--deep-orange);
}

.contact-icon.location {
	font-size: 1.2rem;
	color: var(--deep-orange);
}

.contact-icon.social {
	font-size: 1.2rem;
	color: var(--deep-orange);
}

.contact-link {
	background: white;
	padding: 0.8rem;
	border-radius: 50%;
	box-shadow: var(--shadow-2);
	transition: var(--transition);
}

.contact-link:hover {
	background: var(--light-green);
	transform: translate(-0.5rem);
}

.contact-link ion-icon {
	transition: var(--transition);
}

.contact-link ion-icon:hover {
	color: var(--light-green);
	transform: translate(-0.5rem);
}

/* form */

.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.form input,
.form textarea {
	/* width: 100%; */
	font-size: 1rem;
	padding: 1rem;
	background-color: transparent;
	color: #555;
	border: 2px solid #666;
	outline: none;
	border-radius: 1rem;
	resize: none;
}

.form label {
	/* margin-top:.5rem; */
}

.form label > span {
	color: red;
}

/*-----------------------------------*\
  #footer
\*-----------------------------------*/
.footer {
	background: var(--rich-black-fogra-29-2);
}

.footer__container {
	display: grid;
	place-items: center;
	padding-top: 3rem;
}

.footer__top {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
}

.footer__top .footer-brand .footer-contact-link {
	color: white;
	transition: var(--transition);
}

.footer__top .footer-brand .footer-contact-link:hover {
	color: var(--light-yellow);
}

.footer-contact-list {
	margin-top: 2rem;
}

.footer-brand .logo {
	color: var(--light-yellow);
	font-size: 2rem;
	font-weight: 700;
}

.footer-brand .logo > span {
	color: white;
}

.footer-brand .footer-contact-list .footer-contact-item ion-icon {
	font-size: 1.5rem;
	transition: var(--transition);
	color: var(--deep-orange);
}

.footer-contact-item.list {
	display: flex;
	gap: 1rem;
}

.footer-brand .footer-contact-list .footer-contact-item ion-icon:hover {
	color: var(--light-yellow);
}

.footer-brand .footer-social-list {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
}

.footer-social-link {
	background: white;
	padding: 0.8rem;
	border-radius: 50%;
	box-shadow: var(--shadow-2);
	transition: var(--transition);
}
.footer-brand .footer-social-list .footer-social-link ion-icon {
	color: var(--light-yellow);
	font-size: 1.5rem;
}

.footer-brand .footer-social-list .footer-social-link:hover {
	color: var(--light-yellow);
	transform: translate(-0.5);
}

.footer-brand .footer-contact-list {
	display: grid;
	/* margin-top:-1rem;  */
}

.footer__group {
	margin-top: 1.8rem;
}

.footer__group .footer-list-title {
	font-size: 1rem;
	color: white;
	margin-bottom: 1rem;
}

.footer__group .footer-list a {
	color: white;
	transition: var(--transition);
}

.footer__group .footer-list a:hover {
	color: var(--light-yellow);
}

.footer-bottom {
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.footer-bottom p {
	color: white;
}

.footer-bottom a {
	color: var(--light-yellow);
	font-weight: 500;
}



/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

.back-top-btn.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px);
}

/*-----------------------------------*\
  #Media Queiries
\*-----------------------------------*/

/* 540px */

@media (max-width: 540px) {
	/* general */
	h1 {
		font-size: 1.8rem;
	}

	h2 {
		font-size: 1.4rem;
	}

	a,
	p {
		font-size: 1rem;
	}

	.container {
		width: var(--container-width-sm);
	}

	section {
		padding: 7rem 0;
	}

	section > h1,
	section > p {
		width: var(--container-width-sm);
	}

	/* nav */

	.nav__menu {
		position: fixed;
		top: 3.5rem;
		right: 0;
		flex-direction: column;
		width: fit-content;
		gap: 0;
		display: none;
	}

	.nav__menu li {
		width: 100%;
	}

	.nav__menu li a {
		background: var(--rich-black-fogra-29-2);
		font-size: 0.9rem;
		padding: 0.3rem 4rem;
		width: 100%;
		display: block;
		border-top: solid 1px var(--color-gray-300);
		text-align: center;
		color: white;
	}

	.nav__toggle-open,
	.nav__toggle-close {
		display: inline-block;
		font-size: 1.8rem;
		color: var(--color-gray-900);
		background: transparent;
	}

	.nav__toggle-close {
		display: none;
	}

	.nav__buttons {
		display: flex;
		align-items: center;
		gap: 2.5rem;
	}

	.logo {
		font-size: 1rem;
	}

	/* hero */

	.hero__container {
		width: var(--container-width-sm);
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}

	.hero__content {
		text-align: center;
		margin: 0 auto;
		width: 80%;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.hero__image {
		width: 100%;
		height: auto;

		/* width:80%; */
	}

	/* about */

	.about {
		/* height: 115vh; */
	}

	.about__container {
		display: flex;
		flex-direction: column;
		width: var(--container-width-sm);
		align-items: center;
		justify-content: center;
	}

	.about__content {
		text-align: center;
		margin: 0 auto;
		width: 70%;
	}

	.about__image {
		width: 100%;
		height: auto;
	}

	/* our services */

	.services__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		margin: 0 auto;
	}

	.services__content {
		text-align: center;
	}

	.services-item {
		height: 100%;
		width: 100%;
		padding-bottom: 2rem;
	}

	.services-item .services-item-content {
	}

	.services-list {
		width: var(--container-width-sm);
		display: grid;
		grid-template-columns: 1fr;
		margin-left: 2rem;
		margin-right: 2rem;
	}

	/* why us */

	.why__container {
		width: var(--container-width-sm);
		display: grid;
		grid-template-columns: 1fr;
		place-items: center;
		margin: 0 auto;
	}

	.why__content {
		width: 80%;
	}

	.why__image {
		width: 100%;
		height: auto;
	}

	/* newsletter */
.newsletter__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		
		
	}

.newsletter__subtitle {
	font-size:1.5rem;
	text-align:center;
}
	.newsletter-form{
		width: var(--container-width-sm);
		display:flex;
		flex-direction:column;
		max-width:80%;
	}

	/* testimonials */

	.testimonials__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		margin: 0 auto;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.testimonials__content {
		text-align: center;
		margin: 0 auto;
		width: 70%;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.testimonials__card {
		display: grid;
		grid-template-columns: 1fr;
		gap: 3rem;
		margin-top: 3rem;
	}

	/* blog */

		.blog__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		margin: 0 auto;
	}

	.blog__content{
		text-align: center;
	}

	.blog-list{
		width: var(--container-width-sm);
		display:grid;
		grid-template-columns:1fr;
		place-items:center;
	}


	/* contact */

	.contact__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		margin: 0 auto;
	}

	.contact__content {
		text-align: center;
	}
	.contact__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		/* margin-left:2rem;
		margin-right:2rem; */
	}

	.col__right {
		margin-right: 4rem;
	}

	/* .contact__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		margin: 0 auto;
	}

	.contact__content{
		margin-right:8rem;
	}
    .contact__box{
		flex-basis:80%;
		display:flex;
		flex-direction:column;
		align-items:center;
	} */

	/* footer */

	.footer__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		margin: 0 auto;
	}

	.footer__top {
		width: var(--container-width-sm);
		display: grid;
		grid-template-columns: 1fr;
	}
}

/* 600px */

@media (max-width: 600px) {
	/* general */
	h1 {
		font-size: 1.8rem;
	}

	h2 {
		font-size: 1.4rem;
	}

	a,
	p {
		font-size: 1rem;
	}

	.container {
		width: var(--container-width-sm);
	}

	section {
		padding: 7rem 0;
	}

	section > h1,
	section > p {
		width: var(--container-width-sm);
	}

	/* nav */

	.nav__menu {
		position: fixed;
		top: 3.5rem;
		right: 0;
		flex-direction: column;
		width: fit-content;
		gap: 0;
		display: none;
	}

	.nav__menu li {
		width: 100%;
	}

	.nav__menu li a {
		background: var(--rich-black-fogra-29-2);
		font-size: 0.9rem;
		padding: 0.3rem 4rem;
		width: 100%;
		display: block;
		border-top: solid 1px var(--color-gray-300);
		text-align: center;
		color: white;
	}

	.nav__toggle-open,
	.nav__toggle-close {
		display: inline-block;
		font-size: 1.8rem;
		color: var(--color-gray-900);
		background: transparent;
	}

	.nav__toggle-close {
		display: none;
	}

	.nav__buttons {
		display: flex;
		align-items: center;
		gap: 2.5rem;
	}

	.logo {
		font-size: 1rem;
	}

	/* hero */

	.hero__container {
		width: var(--container-width-sm);
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}

	.hero__content {
		text-align: center;
		margin: 0 auto;
		width: 80%;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.hero__image {
		width: 100%;
		height: auto;

		/* width:80%; */
	}

	/* about */

	.about {
		/* height: 115vh; */
	}

	.about__container {
		display: flex;
		flex-direction: column;
		width: var(--container-width-sm);
		align-items: center;
		justify-content: center;
	}

	.about__content {
		text-align: center;
		margin: 0 auto;
		width: 70%;
	}

	.about__image {
		width: 100%;
		height: auto;
	}

	/* our services */

	.services__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		margin: 0 auto;
	}

	.services__content {
		text-align: center;
	}

	.services-item {
		height: 100%;
		width: 100%;
		padding-bottom: 2rem;
	}

	.services-item .services-item-content {
	}

	.services-list {
		width: var(--container-width-sm);
		display: grid;
		grid-template-columns: 1fr;
		margin-left: 2rem;
		margin-right: 2rem;
	}

	/* why us */

	.why__container {
		width: var(--container-width-sm);
		display: grid;
		grid-template-columns: 1fr;
		place-items: center;
		margin: 0 auto;
	}

	.why__content {
		width: 80%;
	}

	.why__image {
		width: 100%;
		height: auto;
	}

	/* testimonials */

	.testimonials__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		margin: 0 auto;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.testimonials__content {
		text-align: center;
		margin: 0 auto;
		width: 70%;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.testimonials__card {
		display: grid;
		grid-template-columns: 1fr;
		gap: 3rem;
		margin-top: 3rem;
	}

	/* contact */

	.contact__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		margin: 0 auto;
	}

	.contact__content {
		text-align: center;
	}
	.contact__box {
		flex-basis: 60%;
		display: flex;
		flex-direction: column;
		margin-left: 2rem;
		margin-right: 2rem;
	}

	.col__right {
		flex-basis: 70%;
		/* flex-basis: 90%;  */
		/* margin-right:2rem;  */
		/* margin-left:2rem; */
	}

	/* footer */

	.footer__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		margin: 0 auto;
	}

	.footer__top {
		width: var(--container-width-sm);
		display: grid;
		grid-template-columns: 1fr;
	}
}

/* 720px */

@media (max-width: 720px) {
	/* general */
	h1 {
		font-size: 1.8rem;
	}

	h2 {
		font-size: 1.4rem;
	}

	a,
	p {
		font-size: 1rem;
	}

	.container {
		width: var(--container-width-sm);
	}

	section {
		padding: 7rem 0;
	}

	section > h1,
	section > p {
		width: var(--container-width-sm);
	}

	/* nav */

	.nav__menu {
		position: fixed;
		top: 3.5rem;
		right: 0;
		flex-direction: column;
		width: fit-content;
		gap: 0;
		display: none;
	}

	.nav__menu li {
		width: 100%;
	}

	.nav__menu li a {
		background: var(--rich-black-fogra-29-2);
		font-size: 0.9rem;
		padding: 0.3rem 4rem;
		width: 100%;
		display: block;
		border-top: solid 1px var(--color-gray-300);
		text-align: center;
		color: white;
	}

	.nav__toggle-open,
	.nav__toggle-close {
		display: inline-block;
		font-size: 1.8rem;
		color: var(--color-gray-900);
		background: transparent;
	}

	.nav__toggle-close {
		display: none;
	}

	.nav__buttons {
		display: flex;
		align-items: center;
		gap: 2.5rem;
	}

	.logo {
		font-size: 1rem;
	}

	/* hero */

	.hero__container {
		width: var(--container-width-sm);
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}

	.hero__content {
		text-align: center;
		margin: 0 auto;
		width: 80%;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.hero__image {
		width: 100%;
		height: auto;

		/* width:80%; */
	}

	/* about */

	.about {
		/* height: 115vh; */
	}

	.about__container {
		display: flex;
		flex-direction: column;
		width: var(--container-width-sm);
		align-items: center;
		justify-content: center;
	}

	.about__content {
		text-align: center;
		margin: 0 auto;
		width: 70%;
	}

	.about__image {
		width: 100%;
		height: auto;
	}

	/* our services */

	.services__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		margin: 0 auto;
	}

	.services__content {
		text-align: center;
	}

	.services-item {
		height: 100%;
		width: 100%;
		padding-bottom: 2rem;
	}

	.services-list {
		width: var(--container-width-sm);
		display: grid;
		grid-template-columns: 1fr;
		margin-left: 2rem;
		margin-right: 2rem;
	}

	/* why us */

	.why__container {
		width: var(--container-width-sm);
		display: grid;
		grid-template-columns: 1fr;
		place-items: center;
		margin: 0 auto;
	}

	.why__content {
		width: 80%;
	}

	.why__image {
		width: 100%;
		height: auto;
	}

	/* testimonials */

	.testimonials__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		margin: 0 auto;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.testimonials__content {
		text-align: center;
		margin: 0 auto;
		width: 70%;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.testimonials__card {
		display: grid;
		grid-template-columns: 1fr;
		gap: 3rem;
		margin-top: 3rem;
	}

	/* contact */

	.contact__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		margin: 0 auto;
	}

	.contact__content {
		text-align: center;
	}
	.contact__box {
		flex-basis: 60%;
		display: flex;
		flex-direction: column;
		margin-left: 2rem;
		margin-right: 2rem;
	}

	.col__right {
		flex-basis: 70%;
		/* flex-basis: 90%;  */
		/* margin-right:2rem;  */
		/* margin-left:2rem; */
	}

	/* footer */

	.footer__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		margin: 0 auto;
	}

	.footer__top {
		width: var(--container-width-sm);
		display: grid;
		grid-template-columns: 1fr;
	}
}

/* 900px */

@media (max-width: 900px) {
	/* general */
	h1 {
		font-size: 1.8rem;
	}

	h2 {
		font-size: 1.4rem;
	}

	a,
	p {
		font-size: 1rem;
	}

	.container {
		width: var(--container-width-sm);
	}

	section {
		padding: 7rem 0;
	}

	section > h1,
	section > p {
		width: var(--container-width-sm);
	}

	/* nav */

	.nav__menu {
		position: fixed;
		top: 3.5rem;
		right: 0;
		flex-direction: column;
		width: fit-content;
		gap: 0;
		display: none;
	}

	.nav__menu li {
		width: 100%;
	}

	.nav__menu li a {
		background: var(--rich-black-fogra-29-2);
		font-size: 0.9rem;
		padding: 0.3rem 4rem;
		width: 100%;
		display: block;
		border-top: solid 1px var(--color-gray-300);
		text-align: center;
		color: white;
	}

	.nav__toggle-open,
	.nav__toggle-close {
		display: inline-block;
		font-size: 1.8rem;
		color: var(--color-gray-900);
		background: transparent;
	}

	.nav__toggle-close {
		display: none;
	}

	.nav__buttons {
		display: flex;
		align-items: center;
		gap: 2.5rem;
	}

	.logo {
		font-size: 1rem;
	}

	/* hero */

	.hero__container {
		width: var(--container-width-sm);
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}

	.hero__content {
		text-align: center;
		margin: 0 auto;
		width: 80%;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.hero__image {
		width: 100%;
		height: auto;

		/* width:80%; */
	}

	/* about */

	.about {
		/* height: 115vh; */
	}

	.about__container {
		display: flex;
		flex-direction: column;
		width: var(--container-width-sm);
		align-items: center;
		justify-content: center;
	}

	.about__content {
		text-align: center;
		margin: 0 auto;
		width: 70%;
	}

	.about__image {
		width: 100%;
		height: auto;
	}

	/* our services */

	.services__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		margin: 0 auto;
	}

	.services__content {
		text-align: center;
	}

	.services-item {
		height: 100%;
		width: 100%;
		padding-bottom: 2rem;
	}

	.services-list {
		width: var(--container-width-sm);
		display: grid;
		grid-template-columns: 1fr;
		margin-left: 2rem;
		margin-right: 2rem;
	}

	/* why us */

	.why__container {
		width: var(--container-width-sm);
		display: grid;
		grid-template-columns: 1fr;
		place-items: center;
		margin: 0 auto;
	}

	.why__content {
		width: 80%;
	}

	.why__image {
		width: 100%;
		height: auto;
	}

	/* testimonials */

	.testimonials__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		margin: 0 auto;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.testimonials__content {
		text-align: center;
		margin: 0 auto;
		width: 70%;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.testimonials__card {
		display: grid;
		grid-template-columns: 1fr;
		gap: 3rem;
		margin-top: 3rem;
	}

	/* contact */

	.contact__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
	}

	.contact__content {
		text-align: center;
	}
	.contact__box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	/* .col__right{
		 
		margin-right:4rem; 

	} */

	/* footer */

	.footer__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		margin: 0 auto;
		/* padding-left: 1rem; */
		/* padding-right: 1rem;  */
	}

	.footer__top {
		width: var(--container-width-sm);
		display: grid;
		grid-template-columns: 1fr;
	}
}

/* 1024 */

@media (min-width: 1024px) {
	/* general */
	h1 {
		font-size: 1.8rem;
	}

	h2 {
		font-size: 1.4rem;
	}

	a,
	p {
		font-size: 1rem;
	}

	.container {
		width: var(--container-width-sm);
	}

	section {
		padding: 7rem 0;
	}

	section > h1,
	section > p {
		width: var(--container-width-sm);
	}

	/* nav */

	.nav__menu {
		position: fixed;
		top: 3.5rem;
		right: 0;
		flex-direction: column;
		width: fit-content;
		gap: 0;
		display: none;
	}

	.nav__menu li {
		width: 100%;
	}

	.nav__menu li a {
		background: var(--rich-black-fogra-29-2);
		font-size: 0.9rem;
		padding: 0.3rem 4rem;
		width: 100%;
		display: block;
		border-top: solid 1px var(--color-gray-300);
		text-align: center;
		color: white;
	}

	.nav__toggle-open,
	.nav__toggle-close {
		display: inline-block;
		font-size: 1.8rem;
		color: var(--color-gray-900);
		background: transparent;
	}

	.nav__toggle-close {
		display: none;
	}

	.nav__buttons {
		display: flex;
		align-items: center;
		gap: 2.5rem;
	}

	.logo {
		font-size: 1rem;
	}

	/* hero */

	.hero__container {
		width: var(--container-width-sm);
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}

	.hero__content {
		text-align: center;
		margin: 0 auto;
		width: 80%;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.hero__image {
		width: 100%;
		height: auto;

		/* width:80%; */
	}

	/* about */

	.about {
		/* height: 115vh; */
	}

	.about__container {
		display: flex;
		flex-direction: column;
		width: var(--container-width-sm);
		align-items: center;
		justify-content: center;
	}

	.about__content {
		text-align: center;
		margin: 0 auto;
		width: 70%;
	}

	.about__image {
		width: 100%;
		height: auto;
	}

	/* our services */

	.services__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		margin: 0 auto;
	}

	.services__content {
		text-align: center;
	}

	.services-item {
		height: 100%;
		width: 100%;
		padding-bottom: 2rem;
	}

	.services-item .services-item-content {
	}

	.services-list {
		width: var(--container-width-sm);
		display: grid;
		grid-template-columns: 1fr;
		margin-left: 2rem;
		margin-right: 2rem;
	}

	/* why us */

	.why__container {
		width: var(--container-width-sm);
		display: grid;
		grid-template-columns: 1fr;
		place-items: center;
		margin: 0 auto;
	}

	.why__content {
		width: 80%;
	}

	.why__image {
		width: 100%;
		height: auto;
	}

	/* testimonials */

	.testimonials__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		margin: 0 auto;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.testimonials__content {
		text-align: center;
		margin: 0 auto;
		width: 70%;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.testimonials__card {
		display: grid;
		grid-template-columns: 1fr;
		gap: 3rem;
		margin-top: 3rem;
	}

	/* contact */

	.contact__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		margin: 0 auto;
	}

	.contact__box {
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	/* footer */
	.footer__container {
		width: var(--container-width-sm);
		margin: 0 auto;
		padding-right: 1.3rem;
	}
}

/* 1200px */

@media (max-width: 1200px) {
	/* general */
	h1 {
		font-size: 1.8rem;
	}

	h2 {
		font-size: 1.4rem;
	}

	a,
	p {
		font-size: 1rem;
	}

	.container {
		width: var(--container-width-sm);
	}

	section {
		padding: 7rem 0;
	}

	section > h1,
	section > p {
		width: var(--container-width-sm);
	}

	/* nav */
	/* 
	.nav__toggle-open,
	.nav__toggle-close {
		display: none;
	} */

	.nav__menu {
		position: fixed;
		top: 3.5rem;
		right: 0;
		flex-direction: column;
		width: fit-content;
		gap: 0;
		display: none;
	}

	.nav__menu li {
		width: 100%;
	}

	.nav__menu li a {
		background: var(--rich-black-fogra-29-2);
		font-size: 0.9rem;
		padding: 0.3rem 4rem;
		width: 100%;
		display: block;
		border-top: solid 1px var(--color-gray-300);
		text-align: center;
		color: white;
	}

	.nav__toggle-open,
	.nav__toggle-close {
		display: inline-block;
		font-size: 1.8rem;
		color: var(--color-gray-900);
		background: transparent;
	}

	.nav__toggle-close {
		display: none;
	}

	.nav__buttons {
		display: flex;
		align-items: center;
		gap: 2.5rem;
	}

	.logo {
		font-size: 1rem;
	}

	/* hero */

	.hero__container {
		width: var(--container-width-sm);
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}

	.hero__content {
		text-align: center;
		margin: 0 auto;
		width: 80%;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.hero__image {
		width: 100%;
		height: auto;

		/* width:80%; */
	}

	/* about */

	.about {
		/* height: 115vh; */
	}

	.about__container {
		display: flex;
		flex-direction: column;
		width: var(--container-width-sm);
		align-items: center;
		justify-content: center;
	}

	.about__content {
		text-align: center;
		margin: 0 auto;
		width: 70%;
	}

	.about__image {
		width: 100%;
		height: auto;
	}

	/* our services */

	.services__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		margin: 0 auto;
	}

	.services__content {
		text-align: center;
	}

	.services-item {
		height: 100%;
		width: 100%;
		padding-bottom: 2rem;
	}

	.services-item .services-item-content {
	}

	.services-list {
		width: var(--container-width-sm);
		display: grid;
		grid-template-columns: 1fr;
		margin-left: 2rem;
		margin-right: 2rem;
	}

	/* why us */

	.why__container {
		width: var(--container-width-sm);
		display: grid;
		grid-template-columns: 1fr;
		place-items: center;
		margin: 0 auto;
	}

	.why__content {
		width: 80%;
	}

	.why__image {
		width: 100%;
		height: auto;
	}

	/* testimonials */

	.testimonials__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		margin: 0 auto;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.testimonials__content {
		text-align: center;
		margin: 0 auto;
		width: 70%;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.testimonials__card {
		display: grid;
		grid-template-columns: 1fr;
		gap: 3rem;
		margin-top: 3rem;
	}

	/* contact */

	.contact__container {
		width: var(--container-width-sm);
		display: grid;
		place-items: center;
		margin: 0 auto;
	}

	.contact__content {
		text-align: center;
	}
	.contact__box {
		flex-basis: 60%;
		display: flex;
		flex-direction: column;
		margin-left: 2rem;
		margin-right: 2rem;
	}

	.col__right {
		flex-basis: 70%;
		/* flex-basis: 90%;  */
		/* margin-right:2rem;  */
		/* margin-left:2rem; */
	}

	/* footer */
}
